<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Xigen_ContactToDb::Contact" sortOrder="10" title="Contact">
                    <resource id="Xigen_ContactToDb::Contact_save" sortOrder="10" title="Save Contact"/>
                    <resource id="Xigen_ContactToDb::Contact_delete" sortOrder="20" title="Delete Contact"/>
                    <resource id="Xigen_ContactToDb::Contact_update" sortOrder="30" title="Update Contact"/>
                    <resource id="Xigen_ContactToDb::Contact_view" sortOrder="40" title="View Contact"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
