<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Xigen::top_level" module="Xigen_ContactToDb" resource="Magento_Backend::content" sortOrder="9999" title="Xigen"/>
		<add action="xigen_contacttodb/contact/index" id="Xigen_ContactToDb::xigen_contacttodb_contact" module="Xigen_ContactToDb" parent="Xigen::top_level" resource="Magento_Backend::content" sortOrder="9999" title="Contact"/>
	</menu>
</config>
